@import "./variables";
// BetterHomesBC and BetterBuildingsBC
@import "./public/bhbb/variables";
@import "./public/bhbb/mixins";
@import "./public/bhbb/rebates";
@import "./public/bhbb/vue-apps";
@import "./public/bhbb/bh-general";
@import "./public/bhbb/bb-general";
@import "./public/bhbb/side-nav-generator";
@import "./public/bhbb/bh-vNext-general";
@import "./public/bhbb/bh_gravityforms";
@import "./public/glossary";

:root {
	color-scheme: light dark;
	color: $white;
	background-color: $mineshaft;

	font-synthesis: none;
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	clip-path: inset(50%) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}

.sr-only-focusable:focus-visible,
.sr-only-focusable:active {
	clip: auto !important;
	clip-path: none !important;
	height: auto !important;
	margin: auto !important;
	overflow: visible !important;
	width: auto !important;
	white-space: normal !important;
}
