.on-this-page.on-this-page ul li a:hover,
.on-this-page.on-this-page ul li a:focus {
	outline: none;
}

.on-this-page.on-this-page ul li a:focus-visible {
	outline: 2px solid currentcolor;
	outline-offset: 2px;
	border-radius: 3px;
}
