/* stylelint-disable no-descending-specificity */
/* stylelint-disable selector-class-pattern */
/* stylelint-disable property-no-unknown */

:root {
	color-scheme: light dark;
	color: $white;
	background-color: $mineshaft;

	interpolate-size: allow-keywords;

	font-synthesis: none;
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

* {
	box-sizing: border-box;
}

:where(.is-layout-flex) {
	gap: 1rem;
}


.is-mobile-only {
	display: block !important;
}

@media (min-width: 750px) {

	.is-mobile-only {
		display: none !important;
	}
}

html {
	--scroll-padding: 6.5rem !important;
	overflow-x: clip;
}

body {
	flex-direction: column;

	.notification {
		padding: 2rem 2rem 1rem;
		width: 100%;
	}
}

body:not(body.wp-admin):not(body.editor-styles-wrapper):not(body.error404) {
	padding: 0;
	margin: 0;
	// display: flex;
	place-items: center;
	min-height: 100vh;
	overflow-x: clip;
}

.wp-site-blocks {
	width: 100%;
}

.custom-cleanbc .hidden {
	display: none;
}


.banner-content {

	&.has-media-on-the-right {

		.wp-block-media-text__content {
			padding-left: 0;
		}
	}
}

.box-shadow,
.drop-shadow,
.dropshadow {
	box-shadow: var(--box-shadow);
}

input,
textarea {
	color-scheme: light;
}

.external {

	svg.external-link-icon {
		margin-left: 0.2rem !important;
	}

	svg.pdf-download-icon {
		fill: currentcolor;
		margin-left: 0.1rem;
	}

	&:where([href^="tel"]),
	&:where([href^="mailto"]) {

		svg,
		&::after {
			display: none;
			content: none;
		}
	}
	// Remove external icon if present for PDF injections.
	&:has(svg + svg) svg:not(:last-of-type),
	&:has(span + svg):has(span svg) span > svg {
		display: none;
	}
}

.gap-0.gap-0 {
	gap: 0;
}

.gap-narrow {
	gap: 0.25rem;
}

.gap-half {
	gap: 0.5rem;
}

.gap-1.gap-1 {
	gap: 1rem;
}

.gap-2.gap-2 {
	gap: 2rem;
}

.gform_button[type="submit"] {
	border-width: 2px;
	border-stayle: solid;
	background-color: var(--wp--preset--color--background);
	border-radius: 0.33rem;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	padding: 0.667em 1.333em;
	cursor: pointer;

	&:hover,
	&:focus {
		outline-width: 2px;
		outline-style: solid;
		outline-offset: 2px;
	}
}

.mtauto,
.mt-auto,
.mta {
	margin-top: auto;
}

.no-wrap,
.nowrap {
	white-space: nowrap;
}

a:where(:not(.wp-element-button, .wp-block-navigation-item__content)) {
	text-underline-offset: 3px;
	text-decoration: currentcolor underline 1px solid;

	&:is(:hover) {
		text-underline-offset: 2px;
		text-decoration: currentcolor underline 2px solid;
	}
}

#post-content,
.post-content {
	isolation: isolate;

	a:not(.wp-element-button, .icon-definition, .wp-block-navigation-item__content) {
		box-decoration-break: clone;
		text-underline-offset: 4px;
		text-decoration: currentcolor underline 1px solid;
		text-wrap: balance;
		text-wrap: pretty;

		&:is(:hover) {
			text-underline-offset: 3px;
			text-decoration: currentcolor underline 2px solid;
		}

		&:is(:focus-visible) {
			outline-width: 2px;
			outline-style: solid;
			outline-offset: 2px;
			border-radius: 3px;
		}
	}
}

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	clip-path: inset(50%) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}

.sr-only-focusable:focus-visible,
.sr-only-focusable:active {
	clip: auto !important;
	clip-path: none !important;
	height: auto !important;
	margin: auto !important;
	overflow: visible !important;
	width: auto !important;
	white-space: normal !important;
}

// Display exclusions

.small-screen {
	display: block;

	@media (min-width: 1024px) {
		display: none;
	}
}

.mobile-only {
	display: block;

	@media (min-width: 782px) {
		display: none;
	}
}

.large-screen {
	display: none;

	@media (min-width: 1024px) {
		display: block;
	}
}

.tablet-plus {
	display: none;

	@media (min-width: 782px) {
		display: block;
	}
}
