html:has(body.custom-betterbuildingsbc, body.custom-betterhomesbc, body.betterbuildingsbc, body.betterhomesbc, body.goelectricbc) {

	/* -------------------------------------------------------------------------- */

	/* MISC. */

	/* -------------------------------------------------------------------------- */

	#post-content .wp-element-button:not([href]) {
		position: relative;

		&::after {
			content: --icon-unlinked;
			position: absolute;
			right: 6px;
			top: 0;
			width: 1rem;
			filter: var(--white-filter);
		}
	}

	#post-content .is-style-outline .wp-element-button:not([href])::after {
		filter: var(--blue-filter);
	}

	/* -------------------------------------------------------------------------- */

	/* CUSTOM HOME FEATURES */

	/* -------------------------------------------------------------------------- */

	:has(#search-field-container:not(.hidden)) #home-landing-media {
		border-radius: 0 0 1rem 1rem !important;
	}

	/* -------------------------------------------------------------------------- */

	/* CUSTOM CHECKLIST */

	/* -------------------------------------------------------------------------- */

	.wp-block-list.checklist {
		padding: 0;
		list-style-type: none;
	}

	.checklist li {
		background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjNDI4MTRBIiBkPSJNMjU2IDUxMkEyNTYgMjU2IDAgMSAwIDI1NiAwYTI1NiAyNTYgMCAxIDAgMCA1MTJ6TTM2OSAyMDlMMjQxIDMzN2MtOS40IDkuNC0yNC42IDkuNC0zMy45IDBsLTY0LTY0Yy05LjQtOS40LTkuNC0yNC42IDAtMzMuOXMyNC42LTkuNCAzMy45IDBsNDcgNDdMMzM1IDE3NWM5LjQtOS40IDI0LjYtOS40IDMzLjkgMHM5LjQgMjQuNiAwIDMzLjl6Ii8+PC9zdmc+);
		font-size: 1rem;
		list-style-type: none;
		margin-bottom: 0.25rem;
		background-repeat: no-repeat;
		background-size: 1.5rem;
		padding-inline-start: 2rem;
	}

	/* -------------------------------------------------------------------------- */

	/* CARD WITH IMAGE */

	/* -------------------------------------------------------------------------- */

	.image-card {
		// display: flex !important;
		// flex-direction: column;
		// gap: 1rem;
		overflow: clip;
	}

	.image-card-content {
		// flex-grow: 1;
		// min-height: auto;
	}

	/* -------------------------------------------------------------------------- */

	/* CONTACT LIST */

	/* -------------------------------------------------------------------------- */


	ul.contact-list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: flex-start;
		padding-left: 0;

		&.col,
		&.column {
			flex-direction: column;
		}

		li {
			margin-right: 1.5rem;
			margin-bottom: 0.5rem;
			list-style-type: none;
			width: fit-content;

			a {
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
			}

			a::before {
				content: "";
				display: block;
				height: 1rem;
				width: 1rem;
				position: relative;
			}

			&.phone a::before {
				content: var(--phone-icon);
				top: 0.25rem;
				margin-right: 0.2rem;
			}

			&.email a::before {
				content: var(--mail-icon);
				top: 0.15rem;
				margin-right: 0.25rem;
				width: 1.3rem;
			}

			&.website a::before {
				content: var(--site-icon);
				top: 0.175rem;
				margin-right: 0.45rem;
			}
		}
	}

	/* Rebates details container order */

	.details-check {

		.details-container:has(.contractor-container) {

			.hrr-columns-reverse {
				flex-direction: row-reverse; /* HRR, so flip column orientation */
			}
		}
	}

	/* -------------------------------------------------------------------------- */

	/* CUSTOM GRID CLASSES */

	/* -------------------------------------------------------------------------- */

	.grid-center {
		justify-items: center;
		align-items: center;
		height: 100%;
		width: 100%;
	}

	/* -------------------------------------------------------------------------- */

	/* HOW IT WORKS CONTAINERS */

	/* -------------------------------------------------------------------------- */

	.how-it-works-container {

		--four-up-grid-bp: 650px;
		--five-up-grid-bp: 800px;

		container: howitworks / inline-size;

		.how-it-works-grid {
			container: howitworksgrid / inline-size;

			display: grid;
			grid-template-columns: minmax(40%, 200px) 1fr;
			gap: 1rem;


			#how-it-works-personal {

				&::before {
					content: var(--howitworks-personal-horizontal);
					display: block;

					@container howitworksgrid (width < 650px) {
						content: var(--howitworks-personal-vertical);
					}
				}
			}

			#how-it-works-contractor {

				&::before {
					content: var(--howitworks-contractor-horizontal);
					display: block;

					@container howitworksgrid (width < 800px) {
						content: var(--howitworks-contractor-vertical);
					}
				}
			}

			.how-it-works-diagram {

				&::before {
					display: flex;
					float: inline-end;
				}

				min-height: 100px;

				p {
					font-size: 0;
				}
			}

			.how-it-works-labels {
				grid-template-columns: 1fr;
				align-items: center;

				p {
					text-align: left;
				}
			}

			&.four-up {

				@container howitworks (width >= 650px) {
					grid-template-columns: 1fr;
				}

				.how-it-works-diagram {
					max-width: 840px;
					width: 100%;

					&::before {
						max-width: 840px;
						width: 100%;

						@container howitworksgrid (width < 650px) {
							max-width: 200px;
						}
					}
				}

				.how-it-works-labels {

					@container howitworks (width >= 650px) {
						grid-template-columns: repeat(4, minmax(0, 1fr));

						p {
							text-align: center;
						}
					}
				}
			}

			&.five-up {

				@container howitworks (width >= 800px) {
					grid-template-columns: 1fr;
				}

				.how-it-works-diagram {
					max-width: 1080px;
					width: 100%;

					&::before {
						max-width: 1080px;
						width: 100%;

						@container howitworksgrid (width < 800px) {
							max-width: 200px;
						}
					}
				}

				.how-it-works-labels {

					@container howitworks (width >= 800px) {
						grid-template-columns: repeat(5, minmax(0, 1fr));

						p {
							text-align: center;
						}
					}
				}
			}
		}
	}

	/* -------------------------------------------------------------------------- */

	/* REBATES */

	/* -------------------------------------------------------------------------- */

	.page-title:has(.is-acf-field .value:empty) {
		display: none;
	}

	.page-title .is-acf-field:has(.value-item) {
		display: none;
	}
}

