// Filter colours
:root {
	--blue-filter: brightness(0) saturate(100%) invert(34%) sepia(76%) saturate(472%) hue-rotate(169deg) brightness(89%) contrast(85%); // #369;
	--darkred-filter: brightness(0) saturate(100%) invert(9%) sepia(76%) saturate(5300%) hue-rotate(360deg) brightness(93%) contrast(114%); // #8b0000
	--green-filter: brightness(0) saturate(100%) invert(38%) sepia(72%) saturate(331%) hue-rotate(76deg) brightness(98%) contrast(85%); // #42814a;
	--vividred-filter: brightness(0) saturate(100%) invert(16%) sepia(97%) saturate(4294%) hue-rotate(353deg) brightness(91%) contrast(77%); // #cf2e2e
	--white-filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7483%) hue-rotate(232deg) brightness(106%) contrast(104%); // #fff;
	--yellow-filter: brightness(0) saturate(100%) invert(72%) sepia(52%) saturate(1050%) hue-rotate(357deg) brightness(96%) contrast(107%); // #fcb900
}

// Other style defaults.
$default_transition_timing_fn: ease-in-out;
$default_transition_duration: 0.125s;
$default_outline_width: 0.125rem;
$default_outline_offset: 0.125rem;
$default_interactable_min_height: 2.5rem;
$default_button_min_width: 11.625rem;
$default_button_padding_vert: 0.5rem;
$default_button_padding_horz: 1rem;
$default_table_cell_padding_mobile_vert: 1rem;
$default_table_cell_padding_mobile_horz: 1rem;
$default_table_cell_padding_desktop_vert: 1rem;
$default_table_cell_padding_desktop_horz: 1rem;
$default_border_radius: calc(7rem / 16);
$default_box_shadow: rgba(0, 0, 0, 0.1) 0 20px 25px -5px, rgba(0, 0, 0, 0.04) 0 10px 10px -5px;
