// Other style defaults.
$default_transition_timing_fn: ease-in-out;
$default_transition_duration: 0.125s;
$default_outline_width: 0.125rem;
$default_outline_offset: 0.125rem;
$default_interactable_min_height: 2.5rem;
$default_button_min_width: 11.625rem;
$default_button_padding_vert: 0.5rem;
$default_button_padding_horz: 1rem;
$default_table_cell_padding_mobile_vert: 1rem;
$default_table_cell_padding_mobile_horz: 1rem;
$default_table_cell_padding_desktop_vert: 1rem;
$default_table_cell_padding_desktop_horz: 1rem;
$default_border_radius: calc(7rem / 16);
$default_box_shadow: rgba(0, 0, 0, 0.1) 0 20px 25px -5px, rgba(0, 0, 0, 0.04) 0 10px 10px -5px;
